.button {
	height: 100px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #308014;
        display: inline-block;
	margin: auto;
}

.bombi {
        position: relative;
        right: 200px;
}

.shariki {
        position: relative;
        right: 300px;
}

.button:hover {
        height: 100px;
	width: 100px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: #308014;
	margin: auto;
        text-align: center;
}

.button img {
	display: block;
	height: 90px;
	width: 90px;
	margin: auto;
        padding: 4px;
}